<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igaworks.lucy.igawadpopcornpluslock" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"

        android:largeHeap="true" >


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Igaworks Common -->
        <meta-data android:name="igaworks_app_key" android:value="754546015" />
        <meta-data android:name="igaworks_hash_key" android:value="7488be0a177c40b2" />
        <!-- Igaworks Adpopcorn Offerwall Server -->
        <meta-data android:name="igaworks_reward_server_type" android:value="server"/>

        <!-- Igaworks Adpopcorn Offerwall -->
        <activity android:name="com.igaworks.adpopcorn.activity.ApOfferWallActivity_NT"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <activity android:name="com.igaworks.adpopcorn.activity.ApCSActivity_NT"
            android:theme="@android:style/Theme.NoTitleBar" />

        <activity android:name="com.igaworks.adpopcorn.activity.ApVideoAdActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape"/>


        <!-- Igaworks Adpopcorn Pluslock-->
        <activity android:name="com.igaworks.adpopcorn.pluslock.activity.PlusLockActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true" />

        <activity android:name="com.igaworks.adpopcorn.pluslock.activity.PlusLockRewardAdActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:screenOrientation="landscape"
            android:excludeFromRecents="true" />

        <service  android:label="PlusLock" android:name="com.igaworks.adpopcorn.pluslock.IgawPlusLockService"
            android:process="com.igaworks.pluslock">
        </service>

        <receiver android:name="com.igaworks.adpopcorn.pluslock.IgawPlusLockReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <!-- Igaworks Common -->
        <receiver android:name="com.igaworks.IgawReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <!-- Your Code -->


    </application>

    <!-- Igaworks Common -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Igaworks Adpopcorn Pluslock-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    
    <!-- Your Code -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>
